<div class="container">
  <ul class="list-group">
    <li><%= @cocktail.name %>
        <% @cocktail.doses.each do |dose| %>
          <%= "#{dose.description} - #{dose.ingredient.name}" %>
          <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %></li>
  </ul>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
</div>
